<header>
    <ul class="nav nav-pills">
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/rezepte']">Rezeptbuch</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/einkaufsliste']">Einkaufsliste</a></li>
        <li>
          <div class="dropdown" appDropdown>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
              Verwaltung
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Speichern</a></li>
              <li><a class="dropdown-item" href="#">Laden</a></li>
            </div>
          </div>
        </li>
      </ul>
</header>
<hr>